# ignore secrets, virtual environments and typical python compilation artifacts
.dlt/secrets.toml
.dlt/config.toml
# ignore basic python artifacts
.env
**/__pycache__/
**/*.py[cod]
**/*$py.class
# ignore duckdb
*.duckdb
*.wal

# VS Code
.vscode

# iceberg
data/slack_data
data/init

# dagster tmp
tmp**